/* DOM*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(2, 107, 226), rgb(60, 102, 186), #1fc2fe, #1fc2fe, rgb(58, 107, 197), rgb(0, 132, 248));
    ;
}
.pokemonList {
    display: flex;
    gap: 15px;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 13px;
    /* justify-content: space-between; */
    /* margin-bottom: 60px; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.bg_animate {
   
    text-align: center;

}

.nav {
    border: 3px solid #034197;
    border-radius: 13px;
    color: antiquewhite;
 
}

.banner_img img {
    width: 80%;
    /* display: block; */
}

/* .container {
    display: grid;
} */

/* 
.root {
    text-align: center;
    justify-self: center;
} */



.tarjetaPokemon {
    width: 250px;
    border: solid 3px #DDD;
    border-radius: 13px;
    text-align: center;
    height: 350px;
    /* position: relative; */
    background-image: url('/src/assets/tarjetafondo2.jpg');
    background-size: 250px;
    /* background-repeat: no-repeat; */
    /* overflow: hidden; */
    /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); */
    cursor: inherit;
    transition: all 400ms ease-out;

    @media (max-width: 1026px) {
        width: 550px;
        background-size: 550px;
        height: 700px;
    }
}

/* que gire 360grado la tarjeta */
.tarjetaPokemon:hover, .tarjetaPokemon:active {
    transform: perspective(600px) rotateY(360deg);
}

.namePokemon {
    /* display: block; */
    font-size: 20px;
    font-weight: 750;
    border-radius: 13px 13px 0 0;
    color: rgb(255, 255, 255);
    font-family: 'Verdana', sans-serif;
    box-shadow: #c7a7a7 0 1px;
    padding: 13px 32px;
    background:  rgb(26 92 138 / 50%);
    white-space: nowrap;
    text-transform: capitalize;
    @media(max-width:1026px) {
        font-size: 50px;
        font-weight: 750;
    }
}


.imgpokemon {
    width: 100%;
    height: 20px;
    object-fit: cover;
    border-radius: 10px;
    transform: translateY(112px);
   
    
}
@media (max-width:1026px) {
    .imgpokemon img{
        width: 60%;
    }
    .imgpokemon{
        transform: translateY(900%);
    }
}

/* @media (maxWidth: 1024px) {
    .tarjetaPokemon{
    }
} */

.card-back {
    background-color: rgb(0, 0, 0);
    transform: perspective(600px) rotateY(360deg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    opacity: 0;
    margin-top: 47%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    @media(max-width:1026px) {
        
        margin-top: 50%;
        font-size: 30px;
    }
}

.card-front:hover .card-back, .card-front:active {
    opacity: 0.7;
}

.card-front:hover .imgpokemon,.card-front:active {
    transform: translateY(-3%);
    @media(max-width:1026px) {
        transform: translateY(-4%);
        
    }
}

.card-front:hover .imgpokemon img, .card-front:active {
    width: 60%;
     @media(max-width:1026px) {
       width: 80%;
    }
}

.card-type {
    margin-top: 10px;
    /* text-transform: capitalize; */
   
        
    
}

.card-type a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-transform: capitalize; 
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    text-transform: uppercase; 

    @media(max-width:1026px) {
        font-size: 30px; 
        padding-right: 10px;
        padding-left: 10px;
      } 
}

a.type-grass {
    background-color: rgb(0, 255, 0);
    color: rgb(255, 255, 255);

}

a.type-fire {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);

}

a.type-water {
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}

a.type-electric {
    background-color: rgb(255, 244, 44);
    color: rgb(255, 255, 255);
}

a.type-psychic {
    background-color: rgb(255, 0, 255);
    color: rgb(255, 255, 255);
}

a.type-ice {
    background-color: rgb(73, 199, 224);
    color: rgb(255, 255, 255);
}

a.type-bug {
    background-color: rgb(38, 90, 49);
    color: rgb(255, 255, 255);
}

a.type-rock {
    background-color: rgb(115, 57, 6);
    color: rgb(255, 255, 255);
}

a.type-ghost {
    background-color: rgb(121, 102, 183);
    color: rgb(255, 255, 255);
}

a.type-dragon {
    background-color: rgb(123, 201, 243);
    color: rgb(255, 255, 255);
}

a.type-dark {
    background-color: rgb(85, 11, 105);
    color: rgb(255, 255, 255);
}

a.type-fairy {
    background-color: rgb(255, 10, 116);
    color: rgb(255, 255, 255);
}

a.type-steel {
    background-color: rgba(117, 228, 210, 0.83);
    color: rgb(255, 255, 255);
}

a.type-normal {
    background-color: rgb(227, 164, 206);
    color: rgb(255, 255, 255);
}

a.type-fighting {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

a.type-flying {
    background-color: rgb(255, 155, 79);
    color: rgb(255, 255, 255);
}

a.type-poison {
    background-color: rgb(105, 5, 90);
    color: rgb(255, 255, 255);
    
}

a.type-ground {
    background-color: rgb(223, 168, 107);
    color: rgb(255, 255, 255);
}

/* Estilos para el contenedor de las tarjetas */
.tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo para el botón "Volver arriba" con imagen */
.btn-volver-arriba {
    position: fixed;
    bottom: 15px;
    right: 13px;
    display: none;
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    padding: 0;
    /* Elimina el relleno para que la imagen ocupe todo el espacio del botón */
    overflow: hidden;
    /* Oculta cualquier contenido que pueda desbordar el botón */
}

.btn-volver-arriba img {
    width: 100%;
    /* Asegura que la imagen ocupe todo el espacio del botón */
    height: 100%;
    object-fit: cover;
    /* Ajusta el tamaño de la imagen para llenar el botón */
    transition: transform 0.3s ease;
    /* Agrega una transición de transformación para efectos visuales */
}

.btn-volver-arriba:hover img {
    transform: scale(1.1);
    /* Aplica un efecto de escala al hacer hover en la imagen */
}

.typeSelector {

    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    color: #444;
    padding: 0.4em 1.4em 0.3em 0.8em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 7px auto;
    appearance: none;
    border: solid 2px #034197;
    border-radius: 0.3em;
    background-color: #fff;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E), linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    @media(max-width:1026px) {
        font-size:24px;}
}
.Selector{
    font-size: 20px;
    font-family: 'Verdana', sans-serif;
    @media(max-width:1026px) {
        font-size:40px;
    }
}
.typeBtn {

    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    color: #444;
    padding: 0.4em 1.4em 0.3em 0.8em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 7px auto;
    appearance: none;
   border: solid 2px #034197;
    border-radius: 0.3em;
    background-color: #fff;
   
    @media(max-width:1026px) {
        font-size:24px;}
}
